footer{
    height: 120px;
    background-color: var(--dark-gray);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}
.contacts {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}
.social {
    display: flex;
    list-style: none;
    margin-bottom: 30px;
}
.contacts p{
    margin-top: 22px;
    margin-bottom: 6px;
}
.social li{
    margin-right: 25px;
    transition: all 0.3s ease-in-out;
}
.social li:hover{
    transform: scale(1.15, 1.15);
}
.social img{
    width: 40px;
    height: 40px;
}
.footer__center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer__center p{
    font-size: 10px;
    margin-bottom: 10px;
}
.order-button.footer {
    margin-top: 32px;
    width: 230px;
    padding:17px 0;
    font-size: 16px;    
    box-shadow: none;
    transition: 0.5s;
}
.order-button.footer:hover{
    transform: translate(0, 0) scale(1.2, 1.2);
    border-radius: 2px;
    transition: 0.5s ease-in-out;
}
.footer__left img{
    width: 116px;
    height: 116px;
}