header{
    width: 100%;
    height: 76px;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    position: fixed;
    border-bottom: 2px solid #808080;
    z-index: 100;
}
.header-left {
    display: flex;
    align-items: center;
}
.logo {
}
.logo-text {
    font-weight: 700;
    width: 125px;
}
.header-right {
}
.navigation {
    display: flex;
    align-items: center;
    list-style: none;
}
.navigation li{
    border: 1px solid var(--light-gray);
    padding: 10px;
}
.navigation li:hover{
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}