main{
    margin-top: 76px;
    width: 100%;
    height: 100%;
    max-width: 1200px;
}
.content-block {
    background-color: var(--light-gray);
    height: 450px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-block:nth-child(odd){
    background-color: white;
}
.content-block.video{
    height: 500px;
}
.block-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.bottom-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 115px;
}
.bottom-block.first{
    padding: 0 90px;
}

.bottom-text {
    font-size: 14px;
    font-weight: 300;
    width: 470px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}
.bottom-text.first{
    width: 500px;
    margin: 0;
    margin-left: 50px;
}
.bottom-text.right{
    margin-left: 50px;
    margin-right: 0;
}
.adress {
    position: relative;
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}
.adress::before{
    position: absolute;
    content: '';
    top: 1px;
    left: -15px;
    width: 12px;
    height: 12px;
    background: url('../img/MapIcon.png') no-repeat right center;
}
.adress:hover{
    text-decoration: underline;
}
.phone{
    position: relative;
    font-size: 12px;
    cursor: pointer;
    font-weight: 300;
}
.phone::before{
    position: absolute;
    content: '';
    left: -13px;
    width: 12px;
    height: 12px;
    background: url('../img/PhoneIcon.png') no-repeat right center;
}
.phone:hover{
    text-decoration: underline;
}
.block-image{
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}
.block-image img{
    max-width: 450px;
    max-height: 300px;
    z-index: 1;
}
.block-image.first img{
    max-width: 500px;
    max-height: 315px;
}
.block-image::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 270px;
    left: -15px;
    width: 430px;
    height: 45px;
    background-color: var(--gray);
    transition: all 0.3s ease-in-out;
}
.block-image.first::before{
    width: 480px;
    top: 285px;
}
.block-image.right::before{
    left: 35px;
}
.block-image:hover{
    transform: scale(1.1, 1.1);
}

.block-video{
    position: relative;
    z-index: 1;
}
.block-video::before{
    content: '';
    position: absolute;
    top: 350px;
    left: -15px;
    width: 430px;
    height: 45px;
    z-index: -1;
    background-color: var(--gray);
}
.block-video::after{
    content: '';
    position: absolute;
    top: -15px;
    left: 265px;
    width: 430px;
    height: 45px;
    z-index: -1;
    background-color: var(--gray);
}
