.slider{
    height: 100%;
    max-width: 1200px;
}
.slider-title{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.gallery {
    background:white;
    height: 600px;
    align-items: center;
    margin-bottom: 20px;
}

.gallery-cell {
    width: 800px;
    height: 550px;
    margin-right: 60px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    box-shadow: 0 10px 10px var(--gray);
}
.gallery-cell#el1{
    background: url(../img/SliderImg/SliderImage-1.webp);
}
.gallery-cell#el2{
    background: url(../img/SliderImg/SliderImage-2.webp);
}
.gallery-cell#el3{
    background: url(../img/SliderImg/SliderImage-3.webp);
}
.gallery-cell#el4{
    background: url(../img/SliderImg/SliderImage-4.webp);
}
.gallery-cell#el5{
    background: url(../img/SliderImg/SliderImage-5.webp);
}
.flickity-viewport{
    height: 570px !important;
}
.flickity-page-dots{
    bottom: 0 !important;
}
.flickity-page-dots .dot{
    width: 20px !important;
    height: 20px !important;
    opacity: 1 !important;
    border: 1px solid var(--gray) !important;
    background-color: white !important;
}
.flickity-page-dots .dot.is-selected{
    background-color: var(--gray) !important;
}
/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 550px;
    font-size: 80px;
    color: white;
}
@media (max-width: 880px){
    .gallery-cell {
        width: 600px;
        height: 400px;
    }
    .gallery {
        height: 450px;
    }
    .flickity-viewport{
        height: 420px !important;
    }
}
@media (max-width: 600px) {
    .gallery-cell {
        width: 400px;
        height: 280px;
    }
    .gallery {
        height: 330px;
    }
    .flickity-viewport{
        height: 300px !important;
    }
    .gallery-cell#el1{
        background: url(../img/SliderImg/SliderImage-1.webp);
    }
    .gallery-cell#el2{
        background: url(../img/SliderImg/SliderImage-2.webp);
    }
    .gallery-cell#el3{
        background: url(../img/SliderImg/SliderImage-3.webp);
    }
    .gallery-cell#el4{
        background: url(../img/SliderImg/SliderImage-4.webp);
    }
    .gallery-cell#el5{
        background: url(../img/SliderImg/SliderImage-5.webp);
    }
}
@media (max-width: 440px){
    .gallery-cell {
        width: 300px;
        height: 200px;
    }
    .gallery {
        height: 250px;
    }
    .flickity-viewport{
        height: 220px !important;
    }
}
@media (max-width:399px){
    .gallery-cell {
        width: 250px;
        height: 170px;
    }
    .gallery {
        height: 220px;
    }
    .flickity-viewport{
        height: 190px !important;
    }
}