.swiper{
}
.swiper-container {
    width: 600px;
    height: 300px;
    display: none;
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}